.invoiceForm{
    background-color: #ebebeb;
    padding-top: 110px;    
    
    display: flex;
    align-items: center;
    justify-content: center;

    
    &-container{
        overflow-y: auto;
        margin: 0 auto;
        padding: 40px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        @media (max-width: 768px) {
          width: auto;
          margin: 5px;
          padding: 20px;
        }
    }

    &-content{
      max-width: 700px;
      width: auto;
      max-height: 800px;
      @media (max-width: 768px) {
        max-height: 600px;
      }
    }
    .icon-area{
        @media (max-width: 768px) {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

      .icon{
        font-size: 35px;
        position: relative;
        bottom: -33px;
        @media (max-width: 768px) {
          font-size: 25px;
          position: initial;
          bottom: initial;
        }
        &-success{
          color: $green;
        }
        &-warning{
          color: $warning;
        }
      }

  
    }

    select {
        width: 100%;
        border: 2px solid #CFCDCD;
        border-radius: 50px;
        font-size: 16px;
        color: #7D7A7A;
        font-style: normal;
        font-weight: 700;
        padding: 10px 20px;
        outline: none;
      
        option {
          font-size: 16px; 
          color: #7D7A7A; 
          font-weight: 700; 
        }
    }
}
