$primary-color: #EF7734;
$gray: #7D7A7A;
$dark: #151515;
$white: #FFFFFF;
$ivory: #F7F7F9;
$brown: #48301A;
$ivory-blur: rgba(255, 255, 255, 0.8);
$warning: #CC0E69;
$success: #0071f9;
$pink: #f899beb3;
$dark-pink: #5C0334;
$light-pink: #FFF5FB;
$green: #005B57;
$blue: #6CADFF;
$warning: #ffc107;

//dark-mode
$dark-blue: #03030c;
$dark-gray: #151418;
$dark-light: #a1a1a1;
$dark-yellow: #bde937;
$dark-sky-blue: #59d4f1;
$dark-gray: #29282d