.button{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  padding: 10px 20px;
  border-radius: 50px;

  text-align: center;
}

.primaryButton{
  @extend .button;

  color: $primary-color;
  background-color: transparent;

  border: 1px solid $primary-color;

  &:hover{
    background: $primary-color;
    color: $ivory;
  }
}

.secondaryButton{
  @extend .button;

  background: $primary-color;
  color: $ivory;

  border: none;

  &:hover{
    box-shadow: 0 6px 24px 0 $primary-color;
  }
}

.tab {
  @extend .button;
  border-radius: 0;
  margin: 10px;
  transition: font-size 0.3s, font-weight 0.3s, border-bottom 0.3s; /* Add transition properties here */

  &.active {
    color: $primary-color;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 5px solid $primary-color;
  }
}