.invoice-table {   
    overflow-y: auto;
    overflow-x: auto;

    .table-responsive {
        border: 2px solid $primary-color;
        padding: 20px;
        border-radius: 20px;
        min-width: 700px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
        thead{
        border-color: $primary-color;
        }
      td{
        border-bottom-width: none;
        border-bottom: none
      }
      
      th, td {
        text-transform: uppercase;
        padding: 24px;
        text-align: center;
      }
      #status{
        font-weight: 700;
      }
 
}
  
