.invoice-table {   
  overflow-y: auto;
  overflow-x: auto; 

    .table-responsive {
        border: 2px solid $primary-color;
        padding: 20px;
        border-radius: 20px;
        width: auto;
        min-width: 1000px;
        height: 800px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
      }
        thead {
        border-color: $primary-color;
        }
      td{
        border-bottom-width: none;
        border-bottom: none
      }
      
      th, td {
        text-transform: uppercase;
        padding: 24px;
        text-align: center;
      }
      #status{
        font-weight: 700;
      }

    &-empty{
      .animation{
        position: relative;

        max-width: 800px;
        margin: 0 auto;
      }
    }  
 
}
  
